# Activar el motor de reescritura
RewriteEngine On

# Reescribir las URLs para que apunten a los archivos .php sin la extensión
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([a-zA-Z0-9_-]+)$ $1.php [L,QSA]

ErrorDocument 404 /404.php

# CSP
<IfModule mod_headers.c>
    Header set Content-Security-Policy "default-src 'self'; script-src 'self'; style-src 'self'; img-src 'self'; font-src 'self'; connect-src 'self'; form-action 'self'; frame-ancestors 'none';"
</IfModule>

# Cabecera Anti-Clickjacking
<IfModule mod_headers.c>
    Header always set X-Frame-Options "DENY"
</IfModule>

# Encabezado X-Content-Type-Options
<IfModule mod_headers.c>
    Header set X-Content-Type-Options "nosniff"
</IfModule>

Header always unset Server

<IfModule mod_headers.c>
    Header unset X-Powered-By
</IfModule>
